.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color:  #4c90f7; /* Adjust background color as needed */
    padding: 13px;
    .common{
        color: whitesmoke;
        margin: inherit;
        font-size: 30px;
        text-align-last: center;
        font-family:  "Comic Sans MS", cursive, sans-serif;
    }
  }
  
  .logo {
    /* Style for your logo or site title */
    color: #ffebeb;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  /* a {
    background-color: white;
   
  }
   */
  
  .nav-links a {
    color: #fff1f1;
    text-decoration: none;
    font-weight: bold;
  }
  
  .social-icons {
    display: flex;
  }
  
  /* Style for social media icons */
  .social-icons a {
    margin: 0 10px;
    color: #ffefef;
    font-size: 20px;
  }
  