<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoudgalyaBlog</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="navbar">
        <a [routerLink]="'/mw'" class="common">MW</a>
        <a href="#contact" class="common">Contact</a>
        <a href="#about" class="common">ABOUT</a>
    </div>
    <div class="container">  
        <marquee style="color: green;"><h1>Welcome to My Realm of Digital Excellence: Where Innovation Meets Mastery</h1></marquee> 
        <p style="font-size: larger;font-weight: 100;font-variant: inherit;font-style: oblique;"> </p>     
    </div>
    <div >
        <p [innerHTML]="title1" class="quote"> </p>
        <p [innerHTML]="para" class="para"></p>
    </div>
    <img src="mw/background.jpeg" alt="Profile Photo">
</body>
</html>
<router-outlet></router-outlet>
